{{ partial "header.html" . }}
{{ partial "papernav.html" . }}
<!-- <h1> This is a test test</h1> -->

<!-- Ranges through content/post/*.md -->
<!-- <div class="container container-content"> -->
<!-- 	{{ .Section }} -->
<!-- 	{{ .Site.GetPage "section" "blog" }} -->
<!-- </div> -->
{{ range .Paginator.Pages }}
<div class="container container-content">
	<a href="{{.Permalink}}">
		<h1 class="content-heading">
			{{.Title}}
		</h1>
	</a>
	<p>
	<em>
		{{.Date.Format "Jan 02, 2006"}}
	</em>
	</p>
	<div class="content">
		<!-- {{ .Summary }} -->
		{{.Content | truncate 300 }}
	</div>
	{{ if .Truncated }}

	<a class="button" href="{{.RelPermalink}}">READ MORE  <i class="fa-solid fa-angle-right"></i> </a>

	{{ end }}
</div>
{{ end }}

{{ partial "pagenav.html" . }}
{{ partial "footer.html" }}
