{{ partial "header.html" . }}
<!-- {{ partial "topnav.html" . }} -->
{{ partial "papernav.html" . }}
<div class="container container-content ">
	<a href="{{.Permalink}}">
		<h1 class="content-heading">
			{{.Title}}
		</h1>
	</a>
	<p> <em> {{.Date.Format "Jan 02, 2006"}} </em> </p>
	<div class="content">
		{{.Content}}
	</div>
	<p>- {{ .Site.Params.Author }}</p>
	<div>
		{{ $taxo := "tags" }} <!-- Use the plural form here -->
		{{ with .Param $taxo }}
		<strong>Tag{{ if gt (len .) 1 }}s{{ end }}:</strong>
		<em>
			{{ range $index, $director := . }}
			{{- if gt $index 0 }}, {{ end -}}
			{{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
			<a href="{{ .Permalink }}">{{ $director }}</a>
			{{- end -}}
			{{- end -}}
		</em>
		{{ end }}
	</div>
</div>
{{ partial "links.html" }}

{{ partial "footer.html" }}
