<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ .Title }} | {{ .Site.Title }}</title>

        {{ $style := resources.Get "akns.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Signika:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/fontawesome.min.css">

        {{ partial "metadata.html" . }}

	</head>
	<body>
