<div class="container pagenav">
	<ul class="pagenav">
		<li class="left">
			<a class="button" href="/">About me</a>
		</li>
		<li class="right">
			<a class="button" href="/blog">My Blog</a>
		</li>
	
	</ul>
</div>
