{{ partial "header.html" }}
{{ partial "papernav.html" . }}

<div class="container">
	<h1>404 - You're in the wrong neighbourhood, senpai</h1>
</div>

{{ partial "links.html" }}

{{ partial "footer.html" }}
